@model TodoManager.Models.Todo
@{
    ViewBag.Title = "Add Todo";
}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>@ViewData["Title"]</h2>
        <form asp-controller="Todos" asp-action="Create" method="post" role="form">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
                <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>
